
@{
    ViewData["Title"] = "Portfolio";
}

<h2>Portfolio</h2>

<form>
    <input type="text" placeholder="AAPL" />
    <span>Ticker Symbol (ex: "AAPL")</span>

    <input type="date" />
    <span>Date</span>

    <input type="text" placeholder="500" />
    <span>Number of Shares</span>

    <input type="text" placeholder="189.95" />
    <span>Price</span>

    <div>
        <input type="submit" id="submit" class="btn btn-default"/>
    </div>
</form>

<table class="table">
    <tr>
        <th>Ticker Symbol</th>
        <th>Date</th>
        <th>Number of Shares</th>
        <th>Price</th>
        <th>Market Value</th>
    </tr>
    <tr>
        @*<td></td>*@
    </tr>
</table>