
@{
    ViewData["Title"] = "Portfolio";
}

<h2>Portfolio</h2>

<form>
    <input type="text"/>
    <span>Ticker Symbol (ex: "AAPL)</span>

    <input type="date" />
    <span>Date</span>
    
    <input type="text" />
    <span>Number of Shares</span>

    <input type="text" />
    <span>Price</span>

    <div>
        <input type="submit" />
    </div>

    <div class="table-header">
        <div>Ticker Symbol</div>
        <div>Date</div>
        <div>Number of Shares</div>
        <div>Price</div>
        <div>Market Value</div>
    </div>

</form>